body {
	background-color: black;
}

.title {
	font-family: futura;
	color: white;
	font-weight: lighter;
	font-size: 15vw;
	text-align: center;
}

.text {
	font-family: futura;
	color: yellow;
	font-size: 2vw;
	text-align: center;
}
.one {
	width: 100%;

}
