body { 
	background-color: #f3b581;
}

.project {
	text-align: center;
	font-family: futura;
	text-decoration: none;
	font-size: 24pt;
	line-height: 50pt;
}

p {
	font-family: futura;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-size: 50pt;
}
