body {
	background-color: black;
}

h1 {
    position: relative;
	font-family: helvetica;
	text-align: center;
	font-size: 50pt;
	margin-top: 9%;
    color: white;
    margin-bottom: 10%;
}

.movietitle {
    position: relative;
    font-family: helvetica;
    text-align: center;
    font-size: 20pt;
    margin-top: 6%;
    color: white;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
    color: black;
}


.flex {
    display: flex;
    justify-content: center;
}

.poster {
    width: 30%;
    height: 50%;
}

.margin {
    margin-right: 10px;
}

.korean {
    font-family: helvetica;
    color: white;
    position: relative;
    margin-left: 0%;
    margin-right: auto;
}


.head {
    position: relative;
    font-family: helvetica;
    text-align: center;
    font-size: 50pt;
    margin-top: 9%;
    margin-bottom: 0%;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin-bottom: 18pt;
}

.flex-container > div {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 18%;
    margin: 20px;
    text-align: center;
    padding-top: 12%;
    padding-bottom: 12%;
    font-family: helvetica;
    line-height: 20px;
    font-size: 2.5vw;
    line-height: 3vw;
}

.two {
    margin-top: 2%;
    margin-right: %;
}

.white {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
}

.bold {
    font-size: 2vw;
    line-height: 1vw;
    font-family: helvetica;
    font-weight: 4s;
}

.regular {
    font-size: 1.5vw;
    line-height: 2vw;
    font-family: helvetica;
    font-weight: 1s;
}

.arrow {
    color: white;
    font-size: 20px;
}