body {
	padding: 0;
}

.word {
	margin-bottom: 0;
	background-color: grey;
}

.full-viewport-container,
.full-viewport-container .flex-container {
	  min-height: 100vh;
}

.align-top {
	align-self: flex-start;
}

.align-bottom {
	align-self: flex-end;
}