body {
  background-color: #f7c8c8;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
}

.table {
  position: absolute;
  top: 56%;
  left: 16%;
  width: 70%;
  background: linear-gradient(#9953A3,#C7D2FF);
  background: #8fecc2;
  height: 23%;
}

.book-middle{
  position: absolute;
  top: 47%;
  left: 31%;
  width: 16%;
  height: 9%;
  background-color: #f1f3da;
}

.vase {
  position: absolute;
  width: 10%;
  height: 17%;
  background-color: #efe2e2;
  border-radius: 0 56% 51% 62%;
  transform: rotate(45deg);
  margin-top: 16%;
  left: 34%;
}

.book-top {
  position: absolute;
  top: 41%;
  left: 29%;
  width: 20%;
  height: 6%;
  background-color: #ffbd5b;
}

.candle {
  position: absolute;
  top: 42%;
  left: 61%;
  height: 15%;
  width: 8%;
  border-radius: 20%;
  border-bottom-right-radius: 80%;
  border-bottom-left-radius: 80%;
  background-color: #e8e8e8;
}

.book-bottom {
  position: absolute;
  top: 54%;
  left: 30%;
  width: 21%;
  height: 2%;
  background-color: #e4817a;
}

.banana {
  position: absolute;
  width: 4%;
  height: 17%;
  background-color: #f7e75d;
  border-radius: 0 96% 29% 82%;
  transform: rotate(350deg);
  margin-top: 19%;
  left: 62%;
}

.bluebookl {
  position: absolute;
  clip-path: polygon(9% -2%, 38% 21%, 38% 100%, 9% 100%);
  background-color: #7b99dc;
  width: 24%;
  height: 29%;
  left: 48%;
  top: 27%;
}

.bluebookr {
  position: absolute;
  clip-path: polygon(8% 21%, 38% -1%, 36% 100%, 8% 100%);
  background-color: #4d5db5;
  width: 24%;
  height: 29%;
  left: 55%;
  top: 27%;
}

.spine {
  position: absolute;
  top: 32.1%;
  left: 56.2%;
  width: 1.8%;
  height: 29%;
  background-color: #3e408a;
}

.pedal-1 {
  position: absolute;
  top: 9%;
  left: 30%;
  background-color: pink;
  height: 20%;
  width: 20%;
  clip-path: polygon(21% 25%, 24% 34%, 45% 45%, 38% 31%);
}

.pedal-2 {
  position: absolute;
  top: 9%;
  left: 30%;
  background-color: pink;
  height: 20%;
  width: 20%;
  clip-path: polygon(34% 6%, 40% 35%, 45% 45%, 47% 31%);
}

.pedal-3 {
  position: absolute;
  top: 9%;
  left: 30%;
  background-color: pink;
  height: 20%;
  width: 20%;
  clip-path: polygon(55% 3%, 37% 46%, 45% 46%, 51% 29%);
}

.pedal-4 {
  position: absolute;
  top: 9%;
  left: 30%;
  background-color: pink;
  height: 20%;
  width: 20%;
  clip-path:polygon(67% 24%, 48% 37%, 43% 46%, 56% 41%)
}

.pedal-5 {
  position: absolute;
  top: 9%;
  left: 30%;
  background-color: pink;
  height: 20%;
  width: 20%;
  clip-path: polygon(30% 47%, 46% 45%, 33% 38%, 16% 34%);
}

.stem {
  position: absolute;
  top: 18.1%;
  left: 38%;
  width: 1%;
  height: 29%;
  background-color: #50a554;
}

.can {
  position: absolute;
  top: 43.6%;
  left: 18%;
  width: 17%;
  height: 17%;
  background-color: #dae0dd;
  clip-path: circle(16.8% at 50% 50%);
}

.canb{
  position: absolute;
  top: 47.6%;
  left: 22%;
  width: 9%;
  height: 9%;
  background-color: #ccd4c7;
  clip-path: circle(16.8% at 50% 50%);
}

.legl {
  position: absolute;
  top: 79%;
  left: 16%;
  width: 1.6%;
  height: 21%;
  background-color: #3e3d3d;
}

.legr {
  position: absolute;
  top: 79%;
  left: 84.4%;
  width: 1.6%;
  height: 21%;
  background-color: #3e3d3d;
}

.cat {
  position: absolute;
  top: 32.1%;
  left: 50%;
  width: 15%;
  height: 23%;
  background-color: #fdfcfc;
  clip-path: polygon(32% 20%, 30% 37%, 24% 50%, 27% 62%, 37% 72%, 53% 73%, 64% 64%, 66% 49%, 63% 40%, 62% 21%, 47% 38%);
}

.catbody {
  position: absolute;
  width: 6%;
  height: 10%;
  background-color: #dccece;
  border-radius: 0 56% 51% 62%;
  transform: rotate(45deg);
  margin-top: 28%;
  left: 54%;
}

.tail {
  position: absolute;
  width: 16%;
  height: 27%;
  background-color:#d2bdbd;
  top: 35.8%;
  left: 54.3%;
  clip-path: polygon(26% 75%, 32% 59%, 41% 51%, 50% 57%, 40% 70%);
}
/* Your CSS goes here */
