body {
				background-color: pink;
				font-family: "futura","helvetica", "Arial", sans-serif;
			}

			#header {
				color: white;
				font-size: 50;
				font-family: "futura"
				border: dotted 3px;
				letter-spacing: 0px;
			}

			#helloagain {
				color:black;
			}

			p {line-height: 40px;
				letter-spacing: 3px; 
			}