body {
	width: 100%, height:100%; margin: 4%
}

h1 {
	font-family: 'Krona One', sans-serif;
	font-size: 80pt;
	margin: 0;
}

span {
	color: red;
}

p {
	font-family: sans-serif, bold;
	font-size: 16pt;
}

@media (max-width: 500px) {

	h1 {
	font-size: 24pt;
	}

	p {
		font-size: 9pt;
	}

}