body {
	background-color: black;
}



h1 {
	font-family: futura;
	font-size: 50pt;
	color: white;
	padding-left: 10%;
	border-top: 0%;
	margin-right: 2%;
}

.links {
	padding-left: 15%;
	font-family: futura;
	line-height: 40pt;
	font-size: 24pt;
	color: white;
}

p {
	padding-left: 15%;
	font-family: futura;
	line-height: 30pt;
	font-size: 10pt;
	color: white;
}

.button {
	display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 4px;
    color: grey;
    text-align: center;
    background: white;
    text-decoration: none;
    position: absolute;
   	top: 2%;
    left: 1.5%;
}


pre {
	padding-left: 15%;
	font-family: futura;
	line-height: 20pt;
	font-size: 20pt;
	color: white;
}

.click {
	font-family: futura;
	line-height: 20pt;
	font-size: 20pt;
	color: white;
}
