.quote {
	border: 2px solid black; 
	font-family: sans-serif;
	font-size: 40pt;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 1%;
	padding-bottom: 0%;
	margin-bottom: 3%;
}

pre {
	font-size: 23pt;
}

@media (max-width: 500px) {
	.quote {
		border: 2px solid black; 
		font-family: sans-serif;
		font-size: 20pt;
		padding-left: 1%;
		padding-top: 1%;
		padding-right: 1%;
		padding-bottom: 0%;
		margin-bottom: 3%;
	}

	pre {
		font-size: 10pt;
	}